.population_chart_chart {
    display: flex;
    align-items: center;
    justify-content: center;
}

.population_chart_title {
    display: flex;
    margin-bottom: 8px;
    background-color: #eee;
    flex-direction: row;
}

